node-red.json
[{"id":"3ec1ce64.025d5a","type":"tab","label":"Sump Pump Logging","disabled":false,"info":""},{"id":"6f8c23f4.aa0a74","type":"ha-get-entities","z":"3ec1ce64.025d5a","server":"4f7de7ba.60ea38","name":"Get Sump Pump Data","rules":[{"property":"entity_id","logic":"is","value":"switch.sump_pump_insight","valueType":"str"}],"output_type":"split","output_empty_results":false,"output_location_type":"msg","output_location":"payload","output_results_count":1,"x":360,"y":40,"wires":[["7c20f1fd.c5d84"]]},{"id":"7c20f1fd.c5d84","type":"switch","z":"3ec1ce64.025d5a","name":"Check if Sump Pump On","property":"payload.attributes.state_detail","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"neq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":470,"y":100,"wires":[["cc2b07c0.abb95"],["3353f0f2.977148"]]},{"id":"b8bdff9f.4a8d38","type":"poll-state","z":"3ec1ce64.025d5a","name":"Poll WeMo Switch","server":"4f7de7ba.60ea38","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"updateinterval":"10","updateIntervalUnits":"seconds","outputinitially":false,"outputonchanged":false,"entity_id":"switch.sump_pump_insight","state_type":"str","halt_if":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"x":110,"y":40,"wires":[["6f8c23f4.aa0a74"],["3b8bfc01.31337c"]],"info":"Need to poll WeMo switch every 10 seconds as the sump pump's state (standby/on) is an attribute, not the switches main state."},{"id":"b3feb01b.f25c2","type":"debug","z":"3ec1ce64.025d5a","name":"DEBUG","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":840,"y":440,"wires":[]},{"id":"e5358651.dbf8d8","type":"mysql","z":"3ec1ce64.025d5a","mydb":"546bff20.bc1bf8","name":"Write to DB","x":1170,"y":80,"wires":[[]]},{"id":"de2db2ea.eaeda","type":"change","z":"3ec1ce64.025d5a","name":"Set Global Status","rules":[{"t":"set","p":"sump_pump_status","pt":"global","to":"payload.attributes.state_detail","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":120,"wires":[[]]},{"id":"cc2b07c0.abb95","type":"switch","z":"3ec1ce64.025d5a","name":"ON Processing","property":"sump_pump_status","propertyType":"global","rules":[{"t":"neq","v":"on","vt":"str"},{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":700,"y":40,"wires":[["de2db2ea.eaeda","bbe1e024.f92f98","2a28fa9b.c21036"],[]]},{"id":"3353f0f2.977148","type":"switch","z":"3ec1ce64.025d5a","name":"OFF Processing","property":"sump_pump_status","propertyType":"global","rules":[{"t":"neq","v":"on","vt":"str"},{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":700,"y":100,"wires":[[],["de2db2ea.eaeda"]]},{"id":"bbe1e024.f92f98","type":"function","z":"3ec1ce64.025d5a","name":"Convert Data","func":"var power = msg.payload.attributes.current_power_w;\nvar timeon = Math.round(Date.parse(msg.payload.last_updated)/1000);\n\nmsg.payload={};\nmsg.payload.power=power;\nmsg.payload.timeon=timeon;\nmsg.topic=\"INSERT INTO misc.sump_pump (`time_on`, `power_usage`) VALUES (:timeon, :power)\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":920,"y":40,"wires":[["e5358651.dbf8d8"]]},{"id":"2301df03.2641d","type":"mqtt out","z":"3ec1ce64.025d5a","name":"Publish to MQTT","topic":"sensors/sump_pump","qos":"1","retain":"true","broker":"d0eaaf56.4d5d58","x":1210,"y":200,"wires":[]},{"id":"2a28fa9b.c21036","type":"change","z":"3ec1ce64.025d5a","name":"Parse Out Attributes","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.attributes","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":200,"wires":[["2301df03.2641d"]]},{"id":"37eccb52.f5628c","type":"mqtt in","z":"3ec1ce64.025d5a","name":"Check Last Run Time","topic":"sensors/sump_pump/last_run","qos":"1","datatype":"auto","broker":"d0eaaf56.4d5d58","x":120,"y":280,"wires":[["9c835e0c.0c3ed"]]},{"id":"47447047.85814","type":"change","z":"3ec1ce64.025d5a","name":"Set Global Alert Flag","rules":[{"t":"set","p":"last_run_alert","pt":"global","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1000,"y":280,"wires":[["8f289f1a.36e78"]]},{"id":"2f5aeca3.ac22dc","type":"switch","z":"3ec1ce64.025d5a","name":"Check If Alert Sent","property":"last_run_alert","propertyType":"global","rules":[{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":710,"y":280,"wires":[["47447047.85814"]]},{"id":"9c835e0c.0c3ed","type":"switch","z":"3ec1ce64.025d5a","name":"Check If Under 5 Mins","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"300","vt":"num"},{"t":"gt","v":"300","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":440,"y":280,"wires":[["2f5aeca3.ac22dc"],["80b24e3c.667808"]]},{"id":"80b24e3c.667808","type":"change","z":"3ec1ce64.025d5a","name":"Reset Alerts","rules":[{"t":"set","p":"last_run_alert","pt":"global","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":340,"wires":[[]]},{"id":"8f289f1a.36e78","type":"api-call-service","z":"3ec1ce64.025d5a","name":"Phone Notification","server":"4f7de7ba.60ea38","version":1,"debugenabled":false,"service_domain":"notify","service":"mobile_app_pixel_5","entityId":"","data":"{\"message\":\"The sump pump is now running every 5 minutes.\",\"title\":\"Sump Pump Alert\",\"data\":{\"ttl\":0,\"priority\":\"high\",\"actions\":[{\"action\":\"URI\",\"title\":\"View Dashboard\",\"uri\":\"/brians-view/home-systems\"}]}}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1250,"y":280,"wires":[[]]},{"id":"ec52b4be.3ff658","type":"comment","z":"3ec1ce64.025d5a","name":"#Handles Phone Alerts","info":"If sump pump run time drops below 5 minutes, this will notify me once. Alert flag will be reset once runs go back above 5 minutes.","x":120,"y":240,"wires":[]},{"id":"3b8bfc01.31337c","type":"api-call-service","z":"3ec1ce64.025d5a","name":"Phone Notification","server":"4f7de7ba.60ea38","version":1,"debugenabled":false,"service_domain":"notify","service":"mobile_app_pixel_5","entityId":"","data":"{\"message\":\"The sump pump switch is off!\",\"title\":\"Sump Pump Switch Off\",\"data\":{\"ttl\":0,\"priority\":\"high\",\"actions\":[{\"action\":\"turn_on_sump_pump\",\"title\":\"Turn It On\"}]}}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":190,"y":100,"wires":[[]]},{"id":"4f7de7ba.60ea38","type":"server","name":"Home Assistant","addon":true},{"id":"546bff20.bc1bf8","type":"MySQLdatabase","name":"Local","host":"192.168.1.118","port":"3306","db":"misc","tz":"GMT","charset":"UTF8"},{"id":"d0eaaf56.4d5d58","type":"mqtt-broker","name":"Home Assistant MQTT","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]